footer {
    background-color:#000;
    color: #fff;
    margin-top: 20px;
    padding:10px 30px 10px 30px;
    text-justify: auto;
    text-align: justify;
}
body{
    background-color: #ffb47f;
    height : 100%;
    width : 100%;
}
.brand{
    height: 70%;
    width : 70%;
    align-content: center;
}
header{
    background-color: #ffb47f !important;
}
a.lien{
    text-decoration: none;
}
.nav-item{
 background-color: #FFC803;
    margin-left: 2%;
    border-width: 5px;
    border-style: solid;
    border-color: #3269AC;
    font-weight:bold;
    width: 80%;
    margin: 2%;
    text-decoration: none;
}
.bar-brand{
    background-color: #191919;
    width : 100%;
    height : 70%;
    align-content: center;
    align-items: center;
}
.logo {
    height: 10%;
    width: 10%;
    align-content: center;
    margin-left: 2%;
    margin-right: 2%;
}
.fiche-pokemon{
    height: auto;
    width: auto;
}
.paragraphe{
    text-justify: newspaper;
    text-align: justify;
}
.image{
    height : auto;
    width : 100%;
}
.Feu {
    color: red;
}
.Plante {
    color: green;
}
.Eau {
    color: deepskyblue;
}
.Poison {
    color : darkmagenta;
}
.Combat {
    color : saddlebrown;
}
.Fée {
    color : hotpink;
}
.Glace {
    color : cornflowerblue;
}
.Normal {
    color : grey;
}
.Acier {
    color : darkgrey;
}
.Vol {
    color : darkseagreen;
}
.Insecte {
    color : forestgreen;
}
.Electrik {
    color : yellow;
}
.Sol {
    color : sandybrown;
}
.Psy {
    color : purple;
}
.Roche {
    color : coral;
}
.Ténèbres {
    color : rgba(107,35,7,0.82);
}
.Spectre {
    color : rgba(38,19,138,0.82)
}
.Dragon {
    color : darkblue;
}
.recherche{
    background-color: #FFC803;
    border-width: 5px;
    border-style: solid;
    border-color: #3269AC;
    font-weight:bold;
    width: 80%;
    margin : 10%;
}
.boutonvalider{
    background-color: #FFC803;
    border-width: 5px;
    border-style: solid;
    border-color: #3269AC;
    font-weight:bold;
    width: 80%;
    margin : 10%;
}
.description-pokemon{
    text-align: justify;
}

.img-index{
    padding: 0% 10% 5%;
}
.img-info{
    width: 80%;
    height: 80%;
}
.txt-compteur{
    font-weight: bold;
}